body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #2e003e;
    color: #ffffff;
}

h1 {
    margin-top: 20px;
}

.kontener {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.opcje label {
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.woda {
    color: blue;
    text-decoration: underline;
}

.ziemia {
    color: darkgoldenrod;
    text-decoration: underline;
}

.ogien {
    color: brown;
    font-weight: bold;
}

.wiatr {
    font-weight: bold;
    color: red;
}

.zdjecie img {
    width: 300px;
    height: auto;
    margin-top: 20px;
}

.opis {
    font-size: 20px;
    margin-top: 10px;
}

.uwaga {
    color: red;
    font-weight: bold;
}
